 <div class="page-header">
  <h1>Users</h1>
</div>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Website</th>
    <th>Phone</th>
	<th>Action</th>
    </tr>
  </thead>
  <tbody>
	<% @users.each do |user| %>
	  <tr>
	    <td><%= user.first_name %></td>
	    <td><%= user.last_name %></td>
	    <td><%= user.website %></td>
	    <td><%= user.phone %></td>
		<td>
          <div class="btn-group">
            <a href="#" class="btn btn-success">Admin</a>
            <a href="#" data-toggle="dropdown" class="btn btn-success dropdown-toggle"><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Show', user %></li>
              <li><%= link_to 'Edit', edit_user_path(user) %></li>
              <li><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></li>
              <li class="divider"></li>
              <li><a href="#">Cancel</a></li>
            </ul>
          </div><!-- /btn-group -->
		</td>
	  </tr>
	<% end %>
  </tbody>
</table>
<br />

<%= link_to 'New User', new_user_path %>
